<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/events/index.css" />
<%- include('../partials/nav') %>

<main>

    <h1><%= title %></h1>
    <form action="/events" method="POST">
      <label>Point-Triggering Event:
        <input type="text" name="name">
      </label>
      <label>Value:
        <input type="text" name="points">
      </label>
      <button type="submit">ADD</button>
    </form>

  <section>
    <h1>List of Approved PT Events</h1>
    <ul>
    <% events.forEach(e => { if (e.approved) { %>
      <li class="event-list-item">
        <form action="/events/<%= e._id %>?_method=DELETE" method="POST">
          <button type="submit">x</button>
        </form>
        <p><%= e.name %>, worth <%= e.points %> points</p>
      </li>
    <% }}) %>
    </ul>
  </section>
  
  <section>
    <h1>List of Pending PT Events</h1>
    <ul>
    <% events.forEach(e => { if (!e.approved) { %>
      <li class="event-list-item">
        <form action="/events/<%= e._id %>?_method=DELETE" method="POST">
          <button type="submit">x</button>
        </form>
        <p><%= e.name %>, worth <%= e.points %> points</p>
        <form action="/events/<%= e._id %>" method="POST">
          <% if (user._id == "63c2d1346bd2d1fba931e899") { %><button type="submit">Approve</button> <% } %>
        </form>
      </li>
    <% }}) %>
    </ul>
  </section>
</main>

<%- include('../partials/footer') %>
