<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/queens/home.css">
<%- include('./partials/nav') %>

<main>
  <% if (user) { %>
  <h1>MY GIRLS</h1>
  <h2>Total Points: <%= profile.totalPoints %></h2>
  <section id="user-team">
    <% if (profile.team) {
      queens.forEach(teamQueen => { %>
        <div class="queen-card<%- teamQueen.eliminated ? ' eliminated"' : '"' %>">
          <img src="/headshots/<%= teamQueen.name %>.webp" alt="<%= teamQueen.name %> headshot">
          <p id="name"><%= teamQueen.name %></p>
          <p><%= teamQueen.hometown %></p>
          <p><%= teamQueen.totalPoints %></p>
        </div>
    <% })} else { %>
      <h3>Recruit a Team!</h3>
    <% } %>
  </section>
  <% } %>

  <section id="rankings">
    <h1>CURRENT STANDINGS</h1>

  </section>
</main>

<%- include('./partials/footer') %>
