<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<!-- <main>
  <h1>Hello, <%= user ? user.profile.name : "Stranger" %></h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } 
  if (!user) { %>
    <div>
      <a href="/profiles">Continue as Guest</a>
    </div>
  <% } %>
</main> -->

<%- include('./partials/footer') %>
