<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/queens/home.css">
<%- include('./partials/nav') %>

<main>
  <% if (user) { %>
    <% if (profile.team.length > 0) { console.log(profile)%>
  <h1>MY GIRLS</h1>
  <h2>Total Points: <%= profile.totalPoints %></h2>
  <section id="user-team">
      <% queens.forEach(teamQueen => { %>
        <div class="queen-card<%- teamQueen.eliminated ? ' eliminated"' : '"' %>">
          <img src="/headshots/<%= teamQueen.name %>.webp" alt="<%= teamQueen.name %> headshot">
          <p id="name"><%= teamQueen.name %></p>
          <p class="stat"><%= teamQueen.hometown %></p>
          <p class="stat">Current Points: <%= teamQueen.totalPoints %></p>
        </div>
    <% })} else { %>
      <a href="/queens" id="recruit-prompt"><h3>>> Recruit a Team! <<</h3></a>
    <% } %>
  </section>
  <% } else { %>
    <a href="/queens"><h1 class="not-logged-in">SEE THE GIRLS</h1></a>
    <a href="/profiles/rankings"><h1 class="not-logged-in">SEE THE RANKINGS</h1></a>
  <% } %>

</main>

<%- include('./partials/footer') %>
