<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1>Edit Her</h1>
  <form action="/queens/<%= queen._id %>?_method=PUT" method="POST">
    <label>Name:
      <input type="text" name="name" value="<%= queen.name %>">
    </label>
    <label>Hometown:
      <input type="text" name="hometown" value="<%= queen.hometown %>">
    </label>
    <label>Eliminated?
      <input type="checkbox" name="eliminated" <%- queen.eliminated ? 'checked' : '' %>>
    </label>
    <button type="submit">Update</button>
  </form>

  <h1>Apply Point-Triggering Events</h1>
  <h3>Available</h3>
  <ul>
    <% events.forEach(e => { %>
      <li>
          <form action="/queens/<%= queen._id %>/events" method="POST">
            <%= e.name %>, <%= e.points %>
            <input type="hidden" name="event" value="<%= e._id %>">
            <button type="submit"> --> </button>
          </form>
      </li>
    <% }) %>
  </ul>

  <h3>Applied</h3>
  <ul>
    <% queen.pointEvents.forEach(e => { %>
      <li>
        <%= e.name %>, <%= e.points %>
      </li>
      <% }) %>
  </ul>
</main>

<%- include('../partials/footer') %>
