<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1>hrllo </h1>
  <form action="/queens/<%= queen._id %>?_method=PUT" method="POST">
    <label>Name:
      <input type="text" name="name" value="<%= queen.name %>">
    </label>
    <label>Hometown:
      <input type="text" name="hometown" value="<%= queen.hometown %>">
    </label>
    <label>Eliminated?
      <input type="checkbox" name="eliminated" <%- queen.eliminated ? 'checked' : '' %>>
    </label>
    <button type="submit">Update</button>
  </form>
</main>

<%- include('../partials/footer') %>
