<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/queens/edit.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <table>
    <thead>
      <tr>
        <th>Number</th>
        <th>Title</th>
      </tr>
    </thead>
    <form action="/queens/<%= queen._id %>/episodes?_method=PUT" method="POST" id="edit-episode-form">
      <tbody>
        <% queen.episodes.forEach(e => { %>
          <tr>
            <td>
              <label>Number
                <input type="text" name="number" id="number-input" value="<%= e.number %>" autocomplete="off">
              </label>
            </td>
            <td>
              <label>Title
                <input type="text" name="title" id="title-input" value="<%= e.title %>" autocomplete="off">
              </label>
            </td>
          </tr>
        <% }) %>
      </tbody>
      <button type="submit" id="save-episodes">Save Changes</button>
    </form>
  </table>

</main>

<%- include('../partials/footer') %>
