<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/queens/index.css" />
<%- include('../partials/nav') %>

<main>
  <h1>MY GIRLS</h1>
  <section id="queen-card-main">
    <% queens.forEach(q => { %>
      <div class="queen-card<%- q.eliminated ? ' eliminated"' : '"' %>">
        <img src="/headshots/<%= q.name %>.webp" alt="<%= q.name %> headshot">
        <p id="name"><a href="/queens/<%= q._id %>"><%= q.name %></a></p>
        <p><%= q.hometown %></p>
        <p>Current Points: <%= q.totalPoints %></p>
        <% if (user && profile.team.length < 5 && !profile.team.includes(q.id)) { %>
          <form action="/profiles/<%= profile._id %>/team/<%= q._id %>" method="POST"><button type="submit">RECRUIT</button></form>
        <% } %>
      </div>
    <% }) %>
  </section>
</main>

<%- include('../partials/footer') %>
