<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/queens/rankings.css">
<%- include('../partials/nav') %>

<main>
  <h1>CURRENT STANDINGS</h1>
  <% profiles.forEach((profile, index) => { 
    if (profile.team.length > 0) { %>
    <div class="rank">  
      <h2><%= index + 1 %>. <%= profile.name.split(' ')[0] %> <%= profile.name.split(' ')[1][0] %>: <%= profile.totalPoints %></h2>
      <p>
      <% profile.team.forEach(q => { %>
        <img src="/headshots/<%= q.name %>.webp" alt="">
      <% }) %>
      </p>
    </div>    
  <% }}) %>
</main>

<%- include('../partials/footer') %>